In [42]:
import pandas as pd

In [43]:
data=pd.read_csv('Canada_PermanentResidents.csv')

In [44]:
data.head(5)

       Country 2015 Total 2016 Total 2017 Total 2018 Total 2019 Total
0  Afghanistan      90.00     105.00      85.00      75.00      15.00
1      Albania     110.00     155.00     175.00     240.00      55.00
2      Algeria     960.00     800.00     965.00    1460.00     350.00
3      Andorra       0.00       0.00       0.00       0.00       0.00
4       Angola      65.00      75.00      35.00      35.00      10.00

In [45]:
df=pd.DataFrame(data)

In [46]:
print(df.columns)

Index(['Country', '2015 Total', '2016 Total', '2017 Total', '2018 Total',
       '2019 Total'],
      dtype='object')

List top 5 countries from where the people have migrated the most

In [47]:
df.sum(axis = 0, skipna = True)

Country       AfghanistanAlbaniaAlgeriaAndorraAngolaAntigua ...
2015 Total    90.00110.00960.000.0065.0065.00150.0015.000.00...
2016 Total    105.00155.00800.000.0075.0075.00175.0030.000.0...
2017 Total    85.00175.00965.000.0035.0095.00190.0020.000.00...
2018 Total    75.00240.001460.000.0035.0095.00220.0020.000.0...
2019 Total    15.0055.00350.000.0010.0010.0050.000.000.0055....
dtype: object

In [59]:
df['total']=df['2015 Total'].astype(int)

ValueError: invalid literal for int() with base 10: '90.00'

In [55]:
df.head(5)

,Country,2015 Total,2016 Total,2017 Total,2018 Total,2019 Total,total
0,Afghanistan,90.00,105.00,85.00,75.00,15.00,90.00105.0085.00
1,Albania,110.00,155.00,175.00,240.00,55.00,110.00155.00175.00
2,Algeria,960.00,800.00,965.00,1460.00,350.00,960.00800.00965.00
3,Andorra,0.00,0.00,0.00,0.00,0.00,0.000.000.00
4,Angola,65.00,75.00,35.00,35.00,10.00,65.0075.0035.00

In [50]:
print(df.dtypes)

Country       object
2015 Total    object
2016 Total    object
2017 Total    object
2018 Total    object
2019 Total    object
total         object
dtype: object